:root {
  --main-color: #ff8904;
  --main-hover-color: #ff8904;
  --nav-bg: #161d26;
  --services-txt: #121212;
  /* --main-hover-color: #f6c3a9; */
}

/* navbar */
.logo {
  width: 10rem;
}

.active {
  color: var(--main-color);
}

/* Sections */

/* Gradiant Text */
.text-bg,
.text-bg-hero {
  background: linear-gradient(
    270deg,
    var(--main-color) 0%,
    #f6c3a9 50%,
    #fff 100%
  );
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -o-te-webkit-text-fill-color: transparent;
  -moz-te-webkit-text-fill-color: transparent;
  line-height: 150%;
  position: relative;
  z-index: 2;
  font-weight: 700;
  display: inline-block;
}

/* hero sec */

.hero-sec {
  padding: 100px 0;
  background-image: url(./assets/hero/bg-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

/* services */
.building-construction {
  background-image: url("./assets/servicesSec/Building-Construction.webp");
}
.engineering-design {
  background-image: url("./assets/servicesSec/Engineering-Design.webp");
}
.maintenance-works {
  background-image: url("./assets/servicesSec/Maintenance-Works.webp");
}
.project-management {
  background-image: url("./assets/servicesSec/Project-Management.webp");
}

/* Carousel */

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #fff;
}
.slick-dots li button:before {
  font-size: 20px;
}

button {
  cursor: pointer;
}
